---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<html lang="es">
	<head>
		<BaseHead title={title} description={description} />
		<style>
			.blog h1 {
				font-size: 3rem;
				margin-bottom: 20px;
			}
	
			.blog h2 {
				font-size: 2rem;
				margin-top: 60px;
				margin-bottom: 20px;
			}
	
		</style>
	</head>

	

	<body>
		<Header />
		<main>
			<article class="blog max-w-4xl m-12">
				<!-- 
					<div class="hero-image">
						{heroImage && <img width={1020} height={510} src={heroImage} alt="" />}
					</div> 
				-->

				<div class="mb-8">
					<h1 class="text-5xl font-medium">{title}</h1>
					<div class="text-calipso my-2">
						<FormattedDate date={pubDate} />
						{
							updatedDate && (
								<div class="last-updated-on italic">
									Last updated on <FormattedDate date={updatedDate} />
								</div>
							)
						}
					</div>
					<hr />
				</div>

				<slot />

			</article>
		</main>
		<Footer />
	</body>
</html>
