---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';
import GTMBody from '../components/GTMBody.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<html lang="es">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body>
		<GTMBody />
		<Header />
		<main class="flex flex-wrap">
			<article class="blog w-full md:w-[calc(75%-4rem)] md:m-12">
				<!-- 
					<div class="hero-image">
						{heroImage && <img width={1020} height={510} src={heroImage} alt="" />}
					</div> 
				-->

				<div class="mb-8">
					<h1 class="text-5xl font-medium">{title}</h1>
					<div class="text-calipso my-2">
						<FormattedDate date={pubDate} />
						{
							updatedDate && (
								<div class="last-updated-on italic">
									Last updated on <FormattedDate date={updatedDate} />
								</div>
							)
						}
					</div>
					<hr />
				</div>

				<slot />

			</article>
			<!-- 
			<div class="collapse md:visible md:w-[calc(25%-4rem)] border-4 border-black p-4">
				<p>Hola mundo</p>
			</div> 
	    -->
		</main>
		<Footer />
	</body>
</html>
